In [13]:
heartsa = [str(i) + 'H' for i in range(7,15)]
clubsa = [str(i) + 'C' for i in range(7,15)]
spadesa = [str(i) + 'S' for i in range(7,15)]
diamondsa = [str(i) + 'D' for i in range(7,15)]

allcardsa = heartsa + clubsa + spadesa + diamondsa
valuesa = [0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11]

pointvalues = dict(zip(allcardsa, valuesa))

In [11]:
import pandas as pd
import numpy as np
# ipython autotime
%load_ext autotime

# ipython_memory_usage
import ipython_memory_usage 
%ipython_memory_usage_start  
from pprint import pprint as pp

time: 141 ms
In [11] used 0.0078 MiB RAM in 0.10s, peaked 0.00 MiB above current, total RAM usage 371.51 MiB

In [8]:
# df1 = pd.read_pickle('2256000_2256009')
# df2 = pd.read_pickle('2268010_2268200')
# df3 = pd.read_pickle('2268200_2268600')
# df4 = pd.read_pickle('2268600_2270000')
# df5 = pd.read_pickle('2270000_2272000')
# df6 = pd.read_pickle('2272000_2274000')
# df7 = pd.read_pickle('2274000_2277000')
# df8 = pd.read_pickle('2277000_2280000')
# df9 = pd.read_pickle('2280000_2282000')
# df10 = pd.read_pickle('2282000_2284000')
# df11 = pd.read_pickle('2284000_2285000')
# df12 = pd.read_pickle('2285000_2287000')
# df13 = pd.read_pickle('2287000_2290000')
# df14 = pd.read_pickle('2290000_2293000')
# df15 = pd.read_pickle('2293000_2296000')
# df16 = pd.read_pickle('2296000_2330000')

In [26]:
dfa = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16])

time: 114 ms
In [26] used -117.7773 MiB RAM in 0.22s, peaked 117.78 MiB above current, total RAM usage 671.86 MiB

In [27]:
dfa.to_pickle('basedf')

time: 402 ms
In [27] used 65.5977 MiB RAM in 0.51s, peaked 32.16 MiB above current, total RAM usage 737.45 MiB

In [19]:
# card types
hearts = [str(i) + 'H' for i in range(7, 11)] + ['13H'] + ['14H']
spades = [str(i) + 'S' for i in range(7, 11)] + ['13S'] + ['14S']
clubs = [str(i) + 'C' for i in range(7, 11)] + ['13C'] + ['14C']
# Trump
trump = [str(i) + 'D' for i in range(7, 15)] + ['11' + i for i in ['H', 'S', 'C']] + ['12' + i for i in ['H', 'S', 'C']]

In [20]:
fail = hearts + spades + clubs

time: 1.11 ms
In [20] used 0.0352 MiB RAM in 0.10s, peaked 0.00 MiB above current, total RAM usage 371.34 MiB

In [21]:
points = [0, 0, 0, 10, 4, 11]
pointstrump = [0, 0, 0, 10, 2, 3, 4, 11, 2, 2, 2, 3, 3, 3]
trumprank = [1, 2, 3, 5, 7, 11, 4, 6, 8, 9, 10, 12, 13, 14]
failrank = [1, 2, 3, 5, 4, 6]

time: 1.4 ms
In [21] used 0.0078 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 371.35 MiB

In [22]:
faildic = dict(zip(fail, zip(points * 4, failrank * 4)))
trumpdic = dict(zip(trump, zip(pointstrump, trumprank)))

time: 2.26 ms
In [22] used -0.0195 MiB RAM in 0.10s, peaked 0.00 MiB above current, total RAM usage 371.33 MiB

In [23]:
df = dfa.copy()

time: 27.2 ms
In [23] used 245.3867 MiB RAM in 0.13s, peaked 0.00 MiB above current, total RAM usage 616.72 MiB

In [28]:
df['cards'] = df[df.columns[1:7]].apply(lambda x: ','.join(x.astype(str)).split(','), axis=1)
df['trump'] = df['cards'].apply(lambda x: [i for i in x if i in trumpdic.keys()])

time: 20.5 s
In [28] used -175.9805 MiB RAM in 20.63s, peaked 237.71 MiB above current, total RAM usage 561.47 MiB

In [29]:
df['trumpcount'] = df['trump'].apply(lambda x: len(x))

time: 55.2 ms
In [29] used 4.9609 MiB RAM in 0.16s, peaked 0.00 MiB above current, total RAM usage 566.43 MiB

In [30]:
df['fail'] = df['cards'].apply(lambda x: [i for i in x if i in faildic.keys()])

time: 370 ms
In [30] used 15.1172 MiB RAM in 0.47s, peaked 0.00 MiB above current, total RAM usage 581.55 MiB

In [31]:
df['failcount'] = df['fail'].apply(lambda x: len(x))

time: 53.3 ms
In [31] used 1.2188 MiB RAM in 0.16s, peaked 0.00 MiB above current, total RAM usage 582.77 MiB

In [32]:
df['heldpoints'] = df['cards'].apply(lambda x: sum([pointvalues[i] for i in x]))

time: 141 ms
In [32] used 1.2227 MiB RAM in 0.24s, peaked 0.00 MiB above current, total RAM usage 583.99 MiB

In [33]:
df['outcome'] = df['score'].apply(lambda x: 'win' if x > 0 else 'lose')

time: 26.8 ms
In [33] used 0.1719 MiB RAM in 0.13s, peaked 0.00 MiB above current, total RAM usage 584.16 MiB

In [34]:
df['uniqueid'] = df[['handid', 'name']].astype(str).apply('-'.join,1)

time: 903 ms
In [34] used -4.8555 MiB RAM in 1.01s, peaked 65.21 MiB above current, total RAM usage 579.31 MiB

In [35]:
df

,name,1,2,3,4,5,6,score,handid,picker,...,ace_suit,leaster,cards,trump,trumpcount,fail,failcount,heldpoints,outcome,uniqueid
0,jturba,8H,12C,14H,13D,9C,13C,2,2256000,picker,...,,,"[8H, 12C, 14H, 13D, 9C, 13C]","[12C, 13D]",2,"[8H, 14H, 9C, 13C]",4,22,win,2256000-jturba
1,Jungle jim,9S,8D,13H,11C,12S,9H,-1,2256000,no,...,,,"[9S, 8D, 13H, 11C, 12S, 9H]","[8D, 11C, 12S]",3,"[9S, 13H, 9H]",3,9,lose,2256000-Jungle jim
2,jcardo,14S,7D,7H,10C,13S,8C,-1,2256000,no,...,,,"[14S, 7D, 7H, 10C, 13S, 8C]",[7D],1,"[14S, 7H, 10C, 13S, 8C]",5,25,lose,2256000-jcardo
3,robyinko,11D,12H,11S,9D,11H,12D,1,2256000,partner,...,,,"[11D, 12H, 11S, 9D, 11H, 12D]","[11D, 12H, 11S, 9D, 11H, 12D]",6,[],0,12,win,2256000-robyinko
4,shipdog,7S,10D,10H,14D,14C,7C,-1,2256000,no,...,,,"[7S, 10D, 10H, 14D, 14C, 7C]","[10D, 14D]",2,"[7S, 10H, 14C, 7C]",4,42,lose,2256000-shipdog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,rboegel,8D,14S,14D,7C,11C,8H,-2,2304498,no,...,,,"[8D, 14S, 14D, 7C, 11C, 8H]","[8D, 14D, 11C]",3,"[14S, 7C, 8H]",3,24,lose,2304498-rboegel
1,gmabear,12H,9S,11D,9C,7H,9H,2,2304498,partner,...,,,"[12H, 9S, 11D, 9C, 7H, 9H]","[12H, 11D]",2,"[9S, 9C, 7H, 9H]",4,5,win,2304498-gmabear
2,bighuhnit,12C,13S,12D,14C,8C,8S,-2,2304498,no,...,,,"[12C, 13S, 12D, 14C, 8C, 8S]","[12C, 12D]",2,"[13S, 14C, 8C, 8S]",4,21,lose,2304498-bighuhnit
3,Barbara Dorn,7D,13D,12S,13C,10C,10D,4,2304498,picker,...,,,"[7D, 13D, 12S, 13C, 10C, 10D]","[7D, 13D, 12S, 10D]",4,"[13C, 10C]",2,31,win,2304498-Barbara Dorn
4,jturba,9D,7S,11H,13H,11S,14H,-2,2304498,no,...,,,"[9D, 7S, 11H, 13H, 11S, 14H]","[9D, 11H, 11S]",3,"[7S, 13H, 14H]",3,19,lose,2304498-jturba

time: 187 ms
In [35] used 40.3789 MiB RAM in 0.29s, peaked 0.00 MiB above current, total RAM usage 619.69 MiB

In [ ]:
uech