In [1]:
# multipliers
multipliers = dict(default = 1, no_schneider = 2, no_trick = 3, dob = 2, doubler = 2, blitz = 2, crack = 2, crack_back = 2, rb_crack = 4, base = 1, picker = 2)

In [2]:
from bs4 import BeautifulSoup
import requests
# import time, os
import re
# import urllib
# import json
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
import pandas as pd
from datetime import datetime
import numpy as np

In [399]:
site = 'https://get61.com/hand_detail?handid=2268734'
#site = 'https://get61.com/hand_detail?handid=2268003'
#site = 'https://get61.com/hand_detail?handid=2581317'

In [400]:
page = requests.get(site).text
soup = BeautifulSoup(page, 'html5lib')

In [401]:
cardre = re.compile('var play11')
cards = soup.find(text=cardre)
a = cards.split(';')
a
b = a[0].split(' ')

In [402]:
rounds = [i.split(' ') for i in a]
rounds[1]

['\nvar', 'play12', '=', '"14C"']

In [403]:
playnum = [rounds[i][1] for i in range(30)]

In [404]:
plays = [rounds[i][3].replace('"', '') for i in range(30)]

In [405]:
plays

['10H',
 '14C',
 '12H',
 '13C',
 '9S',
 '14H',
 '7H',
 '8H',
 '11C',
 '10S',
 '12C',
 '8S',
 '9H',
 '7C',
 '11D',
 '7D',
 '13D',
 '10D',
 '12D',
 '8C',
 '12S',
 '9C',
 '7S',
 '13S',
 '13H',
 '14D',
 '8D',
 '11S',
 '9D',
 '11H']

In [406]:
played = []
for i in plays:
    let = i.replace('11', 'J').replace('12', 'Q').replace('13', 'K').replace('14', 'A')
    played.append(let)

In [407]:
handa = plays[:6]
handb = plays[6:12]
handc = plays[12:18]
handd = plays[18:24]
hande = plays[24:32]

In [408]:
hande

['13H', '14D', '8D', '11S', '9D', '11H']

In [409]:
hearts = [str(i).replace('11', 'J').replace('12', 'Q').replace('13', 'K').replace('14', 'A') + 'H' for i in range(7,15)]
clubs = [str(i).replace('11', 'J').replace('12', 'Q').replace('13', 'K').replace('14', 'A')  + 'D' for i in range(7,15)]
spades = [str(i).replace('11', 'J').replace('12', 'Q').replace('13', 'K').replace('14', 'A')  + 'S' for i in range(7,15)]
diamonds = [str(i).replace('11', 'J').replace('12', 'Q').replace('13', 'K').replace('14', 'A')  + 'D' for i in range(7,15)]

In [410]:
allcards = hearts + clubs + spades + diamonds

In [411]:
points = dict(zip(allcards, values))

In [412]:
values = [0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11, 0, 0, 0, 10, 2, 3, 4, 11]

In [413]:
points

{'7H': 0,
 '8H': 0,
 '9H': 0,
 '10H': 10,
 'JH': 2,
 'QH': 3,
 'KH': 4,
 'AH': 11,
 '7D': 0,
 '8D': 0,
 '9D': 0,
 '10D': 10,
 'JD': 2,
 'QD': 3,
 'KD': 4,
 'AD': 11,
 '7S': 0,
 '8S': 0,
 '9S': 0,
 '10S': 10,
 'JS': 2,
 'QS': 3,
 'KS': 4,
 'AS': 11}

In [414]:
rounds[30:36]

[['\n\nvar', 'leader1', '=', '"4"'],
 ['\nvar', 'leader2', '=', '"3"'],
 ['\nvar', 'leader3', '=', '"4"'],
 ['\nvar', 'leader4', '=', '"3"'],
 ['\nvar', 'leader5', '=', '"4"'],
 ['\nvar', 'leader6', '=', '"1"']]

In [415]:
# multipliers
multipliers = dict(default = 1, no_schneider = 2, no_trick = 3, dob = 2, doubler = 2, blitz = 2, crack = 2, crack_back = 2, rb_crack = 4, base = 1, picker = 2)

{'default': 1,
 'no_schneider': 2,
 'no_trick': 3,
 'dob': 2,
 'doubler': 2,
 'blitz': 2,
 'crack': 2,
 'crack_back': 2,
 'rb_crack': 4,
 'base': 1,
 'picker': 2}

In [416]:
leads = [int(rounds[i][3].replace('"', '')) for i in range(30, 36)]

In [417]:
names = [rounds[i][3].replace('"', '') for i in range(36, 41)]

In [418]:
scores = [int(rounds[i][3].replace('"', '')) for i in range(41, 46)]

In [419]:
rounds[36:41]

[['\n\nvar', 'player1', '=', '"Bert', 'Olson"'],
 ['\nvar', 'player2', '=', '"Woller"'],
 ['\nvar', 'player3', '=', '"Best', 'Looking', 'Guy', 'in', 'the', 'WVC"'],
 ['\nvar', 'player4', '=', '"3SheepsToTheWind"'],
 ['\nvar', 'player5', '=', '"KingCrab"']]

In [420]:
nameslist = [row.split('=') for row in a[36:41]]

[['\n\nvar player1 ', ' "Bert Olson"'],
 ['\nvar player2 ', ' "Woller"'],
 ['\nvar player3 ', ' "Best Looking Guy in the WVC"'],
 ['\nvar player4 ', ' "3SheepsToTheWind"'],
 ['\nvar player5 ', ' "KingCrab"']]

In [421]:
names = [nameslist[row][1].strip().replace('"', '') for row in range(5)]

In [422]:
names

['Bert Olson',
 'Woller',
 'Best Looking Guy in the WVC',
 '3SheepsToTheWind',
 'KingCrab']

In [423]:
nameslist = [row.split('=') for row in a[36:41]]

In [424]:
nameslist

[['\n\nvar player1 ', ' "Bert Olson"'],
 ['\nvar player2 ', ' "Woller"'],
 ['\nvar player3 ', ' "Best Looking Guy in the WVC"'],
 ['\nvar player4 ', ' "3SheepsToTheWind"'],
 ['\nvar player5 ', ' "KingCrab"']]

In [425]:
# row types
cardrange = list(range(30))
namesrange = list(range(36, 41))

In [426]:
playnum = [rounds[i][3].replace('"', '') for i in cardrange]

In [427]:
nameslist = [row.split('=') for row in a[36:41]]

In [428]:
names = [nameslist[row][1].strip().replace('"', '') for row in range(5)]

In [429]:
names

['Bert Olson',
 'Woller',
 'Best Looking Guy in the WVC',
 '3SheepsToTheWind',
 'KingCrab']

In [430]:
leads

[4, 3, 4, 3, 4, 1]

In [431]:
scores

[2, 2, -2, -4, 2]

In [432]:
player1 = [names[0]] + handa + [scores[0]]
player2 = [names[1]] + handb + [scores[1]]
player3 = [names[2]] + handc + [scores[2]]
player4 = [names[3]] + handd + [scores[3]]
player5 = [names[4]] + hande + [scores[4]]

In [433]:
df = pd.DataFrame([player1, player2, player3, player4, player5], columns = ['name', 1, 2, 3, 4, 5, 6, 'score'])

In [434]:
df['handid'] = 2268734

In [435]:
df

                          name    1    2    3    4    5    6  score   handid
0                   Bert Olson  10H  14C  12H  13C   9S  14H      2  2268734
1                       Woller   7H   8H  11C  10S  12C   8S      2  2268734
2  Best Looking Guy in the WVC   9H   7C  11D   7D  13D  10D     -2  2268734
3             3SheepsToTheWind  12D   8C  12S   9C   7S  13S     -4  2268734
4                     KingCrab  13H  14D   8D  11S   9D  11H      2  2268734

In [436]:
r0 = plays[::6]
r1 = plays[1::6]
r2 = plays[2::6]
r3 = plays[3::6]
r4 = plays[4::6]
r5 = plays[5::6]

In [437]:
plays[5::6]

['14H', '8S', '10D', '13S', '11H']

In [438]:
maxind = scores.index(max(scores, key=abs))

In [439]:
maxind

3

In [440]:
df['picker'] = df['score'].apply(lambda x: 'picker' if x == max(scores, key=abs) else 'partner' if np.sign(x) == np.sign(max(scores, key=abs)) else 'no')

In [441]:
df

,name,1,2,3,4,5,6,score,handid,picker
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no

In [442]:
df['alone'] = df['picker'].apply(lambda x: 'no' if 'partner' in df.values else 'yes')

In [443]:
df

,name,1,2,3,4,5,6,score,handid,picker,alone
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,no
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,no
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,no
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,no
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,no

In [444]:
for i in range(4,11):
    print(i)

4
5
6
7
8
9
10

In [445]:
rounds

[['var', 'play11', '=', '"10H"'],
 ['\nvar', 'play12', '=', '"14C"'],
 ['\nvar', 'play13', '=', '"12H"'],
 ['\nvar', 'play14', '=', '"13C"'],
 ['\nvar', 'play15', '=', '"9S"'],
 ['\nvar', 'play16', '=', '"14H"'],
 ['\nvar', 'play21', '=', '"7H"'],
 ['\nvar', 'play22', '=', '"8H"'],
 ['\nvar', 'play23', '=', '"11C"'],
 ['\nvar', 'play24', '=', '"10S"'],
 ['\nvar', 'play25', '=', '"12C"'],
 ['\nvar', 'play26', '=', '"8S"'],
 ['\nvar', 'play31', '=', '"9H"'],
 ['\nvar', 'play32', '=', '"7C"'],
 ['\nvar', 'play33', '=', '"11D"'],
 ['\nvar', 'play34', '=', '"7D"'],
 ['\nvar', 'play35', '=', '"13D"'],
 ['\nvar', 'play36', '=', '"10D"'],
 ['\nvar', 'play41', '=', '"12D"'],
 ['\nvar', 'play42', '=', '"8C"'],
 ['\nvar', 'play43', '=', '"12S"'],
 ['\nvar', 'play44', '=', '"9C"'],
 ['\nvar', 'play45', '=', '"7S"'],
 ['\nvar', 'play46', '=', '"13S"'],
 ['\nvar', 'play51', '=', '"13H"'],
 ['\nvar', 'play52', '=', '"14D"'],
 ['\nvar', 'play53', '=', '"8D"'],
 ['\nvar', 'play54', '=', '"11S"'],
 ['\nvar', 'play55', '=', '"9D"'],
 ['\nvar', 'play56', '=', '"11H"'],
 ['\n\nvar', 'leader1', '=', '"4"'],
 ['\nvar', 'leader2', '=', '"3"'],
 ['\nvar', 'leader3', '=', '"4"'],
 ['\nvar', 'leader4', '=', '"3"'],
 ['\nvar', 'leader5', '=', '"4"'],
 ['\nvar', 'leader6', '=', '"1"'],
 ['\n\nvar', 'player1', '=', '"Bert', 'Olson"'],
 ['\nvar', 'player2', '=', '"Woller"'],
 ['\nvar', 'player3', '=', '"Best', 'Looking', 'Guy', 'in', 'the', 'WVC"'],
 ['\nvar', 'player4', '=', '"3SheepsToTheWind"'],
 ['\nvar', 'player5', '=', '"KingCrab"'],
 ['\n\nvar', 'player1pts', '=', '"2"'],
 ['\nvar', 'player2pts', '=', '"2"'],
 ['\nvar', 'player3pts', '=', '"-2"'],
 ['\nvar', 'player4pts', '=', '"-4"'],
 ['\nvar', 'player5pts', '=', '"2"'],
 ['\n\nvar', 'bury1', '=', '"10C"'],
 ['\nvar', 'bury2', '=', '"14S"'],
 ['\n\nvar', 'blind1', '=', '"8C"'],
 ['\nvar', 'blind2', '=', '"10C"'],
 ['\n\nvar', 'iscallAce', '=', '""'],
 ['\nvar', 'isleaster', '=', '""'],
 ['\nvar', 'leasterwinner', '=', '""'],
 ['\n\nvar', 'callace_partnersuit', '=', '""'],
 ['\n\nvar', 'cards_dealt', '=', '""'],
 ['\n\nvar', 'isHandComplete', '=', '"1"'],
 ['\nvar', 'isPassedAround', '=', '"0"'],
 ['']]

In [446]:
rounds[30:36]

[['\n\nvar', 'leader1', '=', '"4"'],
 ['\nvar', 'leader2', '=', '"3"'],
 ['\nvar', 'leader3', '=', '"4"'],
 ['\nvar', 'leader4', '=', '"3"'],
 ['\nvar', 'leader5', '=', '"4"'],
 ['\nvar', 'leader6', '=', '"1"']]

In [480]:
blind1, blind2 = rounds[48][-1].replace('"',''), rounds[49][-1].replace('"','')

In [483]:
bury1, bury2 = rounds[46][-1].replace('"',''), rounds[47][-1].replace('"','')

In [493]:
call_ace = rounds[50][-1].replace('"','')

In [ ]:
ace_suit = rounds[53][-1].replace('"','')

In [495]:
is_leaster = rounds[51][-1].replace('"','')

In [449]:
df['position'] = [0, 1, 2, 3, 4]

In [450]:
df

,name,1,2,3,4,5,6,score,handid,picker,alone,position
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,no,0
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,no,1
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,no,2
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,no,3
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,no,4

In [451]:
df['lead0'] = leads[0]

In [452]:
df

,name,1,2,3,4,5,6,score,handid,picker,alone,position,lead0
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,no,0,4
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,no,1,4
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,no,2,4
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,no,3,4
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,no,4,4

In [453]:
df['lead1'] = leads[1]
df['lead2'] = leads[2]
df['lead3'] = leads[3]
df['lead4'] = leads[4]
df['lead5'] = leads[5]

In [454]:
dfsc = df.copy()

In [455]:
dfsc['pick_position'] = df.apply(lambda x: 0 if x['position'] == x['lead0'] else x['position'] + (5 % x['lead0']) if x['position'] < x['lead0'] else x['position'] - x['lead0'], axis=1)

In [456]:
dfsc

,name,1,2,3,4,5,6,score,handid,picker,alone,position,lead0,lead1,lead2,lead3,lead4,lead5,pick_position
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,no,0,4,3,4,3,4,1,1
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,no,1,4,3,4,3,4,1,2
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,no,2,4,3,4,3,4,1,3
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,no,3,4,3,4,3,4,1,4
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,no,4,4,3,4,3,4,1,0

In [457]:
5 % 1

0

In [458]:
4 // 1

4

In [466]:
dfsc['rd0pos'] = df.apply(lambda x: 0 if x['position'] == x['lead0'] else 4 if x['lead0'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead0']) if x['position'] < x['lead0'] else x['position'] - x['lead0'], axis=1)

In [467]:
dfsc['rd1pos'] = df.apply(lambda x: 0 if x['position'] == x['lead1'] else 4 if x['lead1'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead1']) if x['position'] < x['lead1'] else x['position'] - x['lead1'], axis=1)

In [468]:
dfsc['rd2pos'] = df.apply(lambda x: 0 if x['position'] == x['lead2'] else 4 if x['lead2'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead2']) if x['position'] < x['lead2'] else x['position'] - x['lead2'], axis=1)

In [469]:
dfsc['rd3pos'] = df.apply(lambda x: 0 if x['position'] == x['lead3'] else 4 if x['lead3'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead3']) if x['position'] < x['lead3'] else x['position'] - x['lead3'], axis=1)

In [470]:
dfsc['rd4pos'] = df.apply(lambda x: 0 if x['position'] == x['lead4'] else 4 if x['lead4'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead4']) if x['position'] < x['lead4'] else x['position'] - x['lead4'], axis=1)

In [471]:
dfsc['rd5pos'] = df.apply(lambda x: 0 if x['position'] == x['lead5'] else 4 if x['lead5'] == 1 and x['position'] == 0 else x['position'] + (5 % x['lead5']) if x['position'] < x['lead5'] else x['position'] - x['lead5'], axis=1)

In [472]:
dfsc

,name,1,2,3,4,5,6,score,handid,picker,...,lead3,lead4,lead5,pick_position,rd0pos,rd1pos,rd2pos,rd3pos,rd4pos,rd5pos
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,...,3,4,1,1,1,2,1,2,1,4
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,...,3,4,1,2,2,3,2,3,2,0
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,...,3,4,1,3,3,4,3,4,3,1
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,...,3,4,1,4,4,0,4,0,4,2
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,...,3,4,1,0,0,1,0,1,0,3

In [496]:
dfsc['blind_1'] = blind1
dfsc['blind_2'] = blind2

In [497]:
dfsc

,name,1,2,3,4,5,6,score,handid,picker,...,lead5,pick_position,rd0pos,rd1pos,rd2pos,rd3pos,rd4pos,rd5pos,blind_1,blind_2
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,...,1,1,1,2,1,2,1,4,8C,10C
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,...,1,2,2,3,2,3,2,0,8C,10C
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,...,1,3,3,4,3,4,3,1,8C,10C
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,...,1,4,4,0,4,0,4,2,8C,10C
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,...,1,0,0,1,0,1,0,3,8C,10C

In [498]:
dfsc['bury1'] = bury1
dfsc['bury2'] = bury2

In [499]:
dfsc

,name,1,2,3,4,5,6,score,handid,picker,...,rd0pos,rd1pos,rd2pos,rd3pos,rd4pos,rd5pos,blind_1,blind_2,bury1,bury2
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,...,1,2,1,2,1,4,8C,10C,10C,14S
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,...,2,3,2,3,2,0,8C,10C,10C,14S
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,...,3,4,3,4,3,1,8C,10C,10C,14S
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,...,4,0,4,0,4,2,8C,10C,10C,14S
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,...,0,1,0,1,0,3,8C,10C,10C,14S

In [502]:
dfsc['call_ace'] = call_ace
dfsc['ace_suit'] = ace_suit
dfsc['leaster'] = is_leaster

In [503]:
dfsc

,name,1,2,3,4,5,6,score,handid,picker,...,rd3pos,rd4pos,rd5pos,blind_1,blind_2,bury1,bury2,call_ace,ace_suit,leaster
0,Bert Olson,10H,14C,12H,13C,9S,14H,2,2268734,no,...,2,1,4,8C,10C,10C,14S,,,
1,Woller,7H,8H,11C,10S,12C,8S,2,2268734,no,...,3,2,0,8C,10C,10C,14S,,,
2,Best Looking Guy in the WVC,9H,7C,11D,7D,13D,10D,-2,2268734,partner,...,4,3,1,8C,10C,10C,14S,,,
3,3SheepsToTheWind,12D,8C,12S,9C,7S,13S,-4,2268734,picker,...,0,4,2,8C,10C,10C,14S,,,
4,KingCrab,13H,14D,8D,11S,9D,11H,2,2268734,no,...,1,0,3,8C,10C,10C,14S,,,